In [54]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

pd.options.display.float_format = '{:.2f}'.format

In [86]:
cotacao_hist = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\preco_acoes_final3_cnpj.csv")

In [156]:
##teste##
cotacao_hist = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\resume_cotacao_hist\preco_acoes_final3_cnpj.csv")

In [157]:
cotacao_hist

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio
0,20140102,7526557000100.0000,ABEV3,AMBEV S/A,17.3900
1,20140102,NaN,AEDU3,ANHANGUERA,14.5500
2,20140102,NaN,AELP3,AES ELPA,8.7100
3,20140102,7628528000159.0000,AGRO3,BRASILAGRO,9.5000
4,20140102,NaN,ALLL3,ALL AMER LAT,6.3000
...,...,...,...,...,...
630786,20241107,33035536000100.0000,JFEN3,JOAO FORTES,0.2300
630787,20241107,776574000156.0000,AMER3,AMERICANAS,3.2400
630788,20241107,76535764000143.0000,OIBR3,OI,4.2100
630789,20241107,9112685000132.0000,OSXB3,OSX BRASIL,4.9900
630790,20241107,21240146000184.0000,AGXY3,AGROGALAXY,0.4400

In [158]:
df_cnpj_acoes_b3 = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\cnpj_acoes_b3.csv")

In [159]:
cotacao_hist

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio
0,20140102,7526557000100.0000,ABEV3,AMBEV S/A,17.3900
1,20140102,NaN,AEDU3,ANHANGUERA,14.5500
2,20140102,NaN,AELP3,AES ELPA,8.7100
3,20140102,7628528000159.0000,AGRO3,BRASILAGRO,9.5000
4,20140102,NaN,ALLL3,ALL AMER LAT,6.3000
...,...,...,...,...,...
630786,20241107,33035536000100.0000,JFEN3,JOAO FORTES,0.2300
630787,20241107,776574000156.0000,AMER3,AMERICANAS,3.2400
630788,20241107,76535764000143.0000,OIBR3,OI,4.2100
630789,20241107,9112685000132.0000,OSXB3,OSX BRASIL,4.9900
630790,20241107,21240146000184.0000,AGXY3,AGROGALAXY,0.4400

In [153]:
# Renomear colunas no segundo dataframe para facilitar a fusÃ£o dos datasets
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3.rename(columns={
    "CNPJ das empresas listadas na B3": "Ticker",
    "Unnamed: 1": "DenominaÃ§Ã£o social",
    "Unnamed: 2": "Nome de pregÃ£o",
    "Unnamed: 3": "CNPJ"
})

# Remover a primeira linha que contÃ©m os cabeÃ§alhos duplicados
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3_clean.drop(index=0)

# Corrigir o formato do CNPJ para garantir a correspondÃªncia entre os dataframes
df_cnpj_acoes_b3_clean['CNPJ'] = df_cnpj_acoes_b3_clean['CNPJ'].str.replace(r'\D', '', regex=True)
cotacao_hist['CNPJ'] = cotacao_hist['CNPJ'].apply(lambda x: f'{int(x):014d}' if pd.notna(x) else '00000000000000')

# Realizar o merge dos datasets com base no CNPJ e mantendo o Ticker
df_merged_with_ticker = pd.merge(
    cotacao_hist, 
    df_cnpj_acoes_b3_clean[['Ticker', 'CNPJ']], 
    left_on='CNPJ', 
    right_on='CNPJ', 
    how='inner'
)

# Atualizar o cotacao_hist com os dados resultantes do merge
cotacao_hist = df_merged_with_ticker

In [154]:
cotacao_hist

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,Ticker
0,20140102,07526557000100,ABEV3,AMBEV S/A,17.3900,ABEV3
1,20140102,07628528000159,AGRO3,BRASILAGRO,9.5000,AGRO3
2,20140102,61189288000189,AMAR3,LOJAS MARISA,18.4000,AMAR3
3,20140102,09288252000132,ANIM3,ANIMA,20.7500,ANIM3
4,20140102,16590234000176,ARZZ3,AREZZO CO,30.5000,ARZZ3
...,...,...,...,...,...,...
698292,20241107,00776574000156,AMER3,AMERICANAS,3.2400,AMER3
698293,20241107,76535764000143,OIBR3,OI,4.2100,OIBR3
698294,20241107,76535764000143,OIBR3,OI,4.2100,OIBR4
698295,20241107,09112685000132,OSXB3,OSX BRASIL,4.9900,OSXB3
698296,20241107,21240146000184,AGXY3,AGROGALAXY,0.4400,AGXY3

In [82]:
df_balance = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\df_balancedata_tri_final.csv")

In [146]:
#Teste rodar esse#
df_balance = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\balance_resume\df_balancedata_tri_final.csv")

In [147]:
df_balance

,CNPJ,Ticker,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo NÃ£o Circulante,Patrimonio_Liquido_Unificado
0,191,BBAS3,BCO BRASIL S.A.,1023,2014-03-31,1294187527.0000,753744537.0000,503082573.0000,839101217.0000,NaN,71464555.0000
1,191,BBAS3,BCO BRASIL S.A.,1023,2014-06-30,1344627835.0000,739026339.0000,570702956.0000,886841959.0000,NaN,69442420.0000
2,191,BBAS3,BCO BRASIL S.A.,1023,2014-09-30,1369739682.0000,770692909.0000,562762183.0000,907583262.0000,NaN,78845901.0000
3,191,BBAS3,BCO BRASIL S.A.,1023,2015-03-31,1465549447.0000,730302299.0000,693122104.0000,979510346.0000,NaN,72600519.0000
4,191,BBAS3,BCO BRASIL S.A.,1023,2015-06-30,1460958067.0000,726631228.0000,693581790.0000,959522792.0000,NaN,71944144.0000
...,...,...,...,...,...,...,...,...,...,...,...
15813,97837181000147,DXCO3,DEXCO S.A.,21091,2023-03-31,13239857.0000,3312493.0000,9927364.0000,2372419.0000,4928939.0000,5938499.0000
15814,97837181000147,DXCO3,DEXCO S.A.,21091,2023-06-30,13638828.0000,3202568.0000,10436260.0000,2789614.0000,4816521.0000,6032693.0000
15815,97837181000147,DXCO3,DEXCO S.A.,21091,2023-09-30,14051331.0000,2950952.0000,11100379.0000,2774281.0000,4865476.0000,6411574.0000
15816,97837181000147,DXCO3,DEXCO S.A.,21091,2024-03-31,14715857.0000,3746968.0000,10968889.0000,2851381.0000,5491808.0000,6372668.0000
15817,97837181000147,DXCO3,DEXCO S.A.,21091,2024-06-30,15276610.0000,3644461.0000,11632149.0000,2986021.0000,5716630.0000,6573959.0000

In [148]:
# Ensure the 'data_pregao' column in cotacao_hist is in datetime format
cotacao_hist['data_pregao'] = pd.to_datetime(cotacao_hist['data_pregao'], format='%Y%m%d', errors='coerce')

# Function to find the nearest available date in cotacao_hist if exact match isn't found
def get_nearest_date(target_date, date_series):
    nearest_date = date_series[date_series >= target_date].min()
    return nearest_date if pd.notna(nearest_date) else date_series.max()

# Initialize a list to store results
matched_prices = []

# Loop through each unique date in the df_balance's 'DT_FIM_EXERC'
for dt in df_balance['DT_FIM_EXERC'].unique():
    # Find the nearest date in the cotacao_hist
    nearest_date = get_nearest_date(dt, cotacao_hist['data_pregao'])
    
    # Select the rows from cotacao_hist for this nearest date
    matched_data = cotacao_hist[cotacao_hist['data_pregao'] == nearest_date].copy()
    
    # Add a new column to indicate the original requested date and the nearest date used
    matched_data['data_original'] = dt
    matched_data['data_utilizada'] = nearest_date
    
    # Append matched data to the list
    matched_prices.append(matched_data)


# Concatenate the results into a DataFrame
df_matched_prices = pd.concat(matched_prices).reset_index(drop=True)

# Display the resulting dataframe (optional, adjust as needed for your environment)
df_matched_prices

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,Ticker,data_original,data_utilizada
0,2014-03-31,07526557000100,ABEV3,AMBEV S/A,16.9500,ABEV3,2014-03-31,2014-03-31
1,2014-03-31,10338320000100,AFLT3,AFLUENTE T,3.0000,AFLT3,2014-03-31,2014-03-31
2,2014-03-31,07628528000159,AGRO3,BRASILAGRO,8.7800,AGRO3,2014-03-31,2014-03-31
3,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500,ALPA3,2014-03-31,2014-03-31
4,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500,ALPA4,2014-03-31,2014-03-31
...,...,...,...,...,...,...,...,...
18301,2024-09-02,33412081000196,RPMG3,PET MANGUINH,3.0500,RPMG3,2024-08-31,2024-09-02
18302,2024-09-02,04032433000180,ATMP3,ATMASA,1.3700,ATMP3,2024-08-31,2024-09-02
18303,2024-09-02,76535764000143,OIBR3,OI,5.2200,OIBR3,2024-08-31,2024-09-02
18304,2024-09-02,76535764000143,OIBR3,OI,5.2200,OIBR4,2024-08-31,2024-09-02
18305,2024-09-02,09112685000132,OSXB3,OSX BRASIL,3.8200,OSXB3,2024-08-31,2024-09-02

In [139]:
# Ensure the 'data_pregao' column in cotacao_hist is in datetime format
cotacao_hist['data_pregao'] = pd.to_datetime(cotacao_hist['data_pregao'])

# Function to find the nearest available date in cotacao_hist if exact match isn't found
def get_nearest_date(target_date, date_series):
    nearest_date = date_series[date_series >= target_date].min()
    return nearest_date if pd.notna(nearest_date) else date_series.max()

# Initialize a list to store results
matched_prices = []

# Loop through each unique date in the df_balance's 'DT_FIM_EXERC'
for dt in df_balance['DT_FIM_EXERC'].unique():
    # Find the nearest date in the cotacao_hist
    nearest_date = get_nearest_date(dt, cotacao_hist['data_pregao'])
    
    # Select the rows from cotacao_hist for this nearest date
    matched_data = cotacao_hist[cotacao_hist['data_pregao'] == nearest_date].copy()
    
    # Add a new column to indicate the original requested date and the nearest date used
    matched_data['data_original'] = dt
    matched_data['data_utilizada'] = nearest_date
    
    # Append matched data to the list
    matched_prices.append(matched_data)

# Concatenate the results into a DataFrame
df_matched_prices = pd.concat(matched_prices).reset_index(drop=True)

# Display the resulting dataframe with the new columns
df_matched_prices

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,Ticker,data_original,data_utilizada
0,2014-03-31,07526557000100,ABEV3,AMBEV S/A,16.9500,ABEV3,2014-03-31,2014-03-31
1,2014-03-31,10338320000100,AFLT3,AFLUENTE T,3.0000,AFLT3,2014-03-31,2014-03-31
2,2014-03-31,07628528000159,AGRO3,BRASILAGRO,8.7800,AGRO3,2014-03-31,2014-03-31
3,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500,ALPA3,2014-03-31,2014-03-31
4,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500,ALPA4,2014-03-31,2014-03-31
...,...,...,...,...,...,...,...,...
18301,2024-09-02,33412081000196,RPMG3,PET MANGUINH,3.0500,RPMG3,2024-08-31,2024-09-02
18302,2024-09-02,04032433000180,ATMP3,ATMASA,1.3700,ATMP3,2024-08-31,2024-09-02
18303,2024-09-02,76535764000143,OIBR3,OI,5.2200,OIBR3,2024-08-31,2024-09-02
18304,2024-09-02,76535764000143,OIBR3,OI,5.2200,OIBR4,2024-08-31,2024-09-02
18305,2024-09-02,09112685000132,OSXB3,OSX BRASIL,3.8200,OSXB3,2024-08-31,2024-09-02

In [ ]:
def find_nearest_dates(df_balance, cotacao_hist):
    """
    Encontra as datas mais prÃ³ximas disponÃ­veis em cotacao_hist para cada data em df_balance['DT_FIM_EXERC'].

    Args:
        df_balance (pd.DataFrame): DataFrame contendo as datas-alvo na coluna 'DT_FIM_EXERC'.
        cotacao_hist (pd.DataFrame): DataFrame contendo as datas disponÃ­veis na coluna 'data_pregao'.

    Returns:
        pd.DataFrame: Linhas do cotacao_hist para as datas mais prÃ³ximas, incluindo as colunas 
                      de data original e data utilizada.
    """
    # Ordenar as datas para otimizar as buscas
    cotacao_hist = cotacao_hist.sort_values(by='data_pregao').reset_index(drop=True)

    # FunÃ§Ã£o para encontrar a data mais prÃ³xima
    def get_nearest_date(target_date):
        mask = cotacao_hist['data_pregao'] >= target_date
        nearest_date = cotacao_hist['data_pregao'][mask].min()
        return nearest_date if pd.notna(nearest_date) else cotacao_hist['data_pregao'].max()

    # Criar um mapeamento de data original para data mais prÃ³xima
    df_balance['nearest_date'] = df_balance['DT_FIM_EXERC'].apply(get_nearest_date)

    # Fazer o merge dos DataFrames baseando-se na data mais prÃ³xima
    merged_df = pd.merge(
        df_balance,
        cotacao_hist,
        left_on='nearest_date',
        right_on='data_pregao',
        suffixes=('_original', '_nearest')
    )

    # Adicionar as colunas de rastreamento
    merged_df['data_original'] = merged_df['DT_FIM_EXERC']
    merged_df['data_utilizada'] = merged_df['data_pregao']

    return merged_df.drop(columns=['nearest_date'])

In [125]:
# Reorganize the dataframe columns as requested: data_original, CNPJ, cod_negociacao, noma_empresa, preco_ultimo_negocio
cotacao_hist_resume = df_matched_prices[['data_original', 'CNPJ', 'cod_negociacao', 'noma_empresa', 'preco_ultimo_negocio']]

In [66]:
cotacao_hist_resume.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\cotacao_hist_resume_tri.csv")

In [126]:
cotacao_hist_resume

,data_original,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio
0,2014-03-31,07526557000100,ABEV3,AMBEV S/A,16.9500
1,2014-03-31,10338320000100,AFLT3,AFLUENTE T,3.0000
2,2014-03-31,07628528000159,AGRO3,BRASILAGRO,8.7800
3,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500
4,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500
...,...,...,...,...,...
18301,2024-08-31,33412081000196,RPMG3,PET MANGUINH,3.0500
18302,2024-08-31,04032433000180,ATMP3,ATMASA,1.3700
18303,2024-08-31,76535764000143,OIBR3,OI,5.2200
18304,2024-08-31,76535764000143,OIBR3,OI,5.2200
18305,2024-08-31,09112685000132,OSXB3,OSX BRASIL,3.8200

In [127]:
# Remover duplicatas com base nas colunas data_original, CNPJ e cod_negociacao, mantendo a primeira ocorrÃªncia
cotacao_hist_resume.drop_duplicates(subset=['data_original', 'CNPJ', 'cod_negociacao'], keep='first')

# Verificar o dataframe limpo
cotacao_hist_resume.shape

cotacao_hist_resume

,data_original,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio
0,2014-03-31,07526557000100,ABEV3,AMBEV S/A,16.9500
1,2014-03-31,10338320000100,AFLT3,AFLUENTE T,3.0000
2,2014-03-31,07628528000159,AGRO3,BRASILAGRO,8.7800
3,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500
4,2014-03-31,61079117000105,ALPA3,ALPARGATAS,11.8500
...,...,...,...,...,...
18301,2024-08-31,33412081000196,RPMG3,PET MANGUINH,3.0500
18302,2024-08-31,04032433000180,ATMP3,ATMASA,1.3700
18303,2024-08-31,76535764000143,OIBR3,OI,5.2200
18304,2024-08-31,76535764000143,OIBR3,OI,5.2200
18305,2024-08-31,09112685000132,OSXB3,OSX BRASIL,3.8200

In [128]:
pd.set_option('display.float_format', '{:.4f}'.format)

# Certifique-se de que a coluna de data esteja no formato datetime
cotacao_hist_resume['data_original'] = pd.to_datetime(cotacao_hist_resume['data_original'])

# Organizar o dataframe por empresa e data
cotacao_hist_sorted = cotacao_hist_resume.sort_values(by=['noma_empresa', 'data_original'])

# PreÃ§o inicial (primeiro preÃ§o disponÃ­vel)
preco_inicial = cotacao_hist_sorted.groupby('noma_empresa')['preco_ultimo_negocio'].first()

# PreÃ§o final (Ãºltimo preÃ§o disponÃ­vel)
preco_final = cotacao_hist_sorted.groupby('noma_empresa')['preco_ultimo_negocio'].last()

# Calcular o retorno acumulado
retorno_acumulado = (preco_final - preco_inicial) / preco_inicial
cotacao_hist_sorted['retorno_acumulado'] = cotacao_hist_sorted['noma_empresa'].map(retorno_acumulado)

# Calcular o nÃºmero de dias entre a primeira e a Ãºltima data para cada empresa
cotacao_hist_sorted['dias'] = cotacao_hist_sorted.groupby('noma_empresa')['data_original'].transform(lambda x: (x.max() - x.min()).days)

# Converter os dias em anos
cotacao_hist_sorted['anos'] = cotacao_hist_sorted['dias'] / 365.25

# Calcular o CAGR para cada empresa
cotacao_hist_sorted['CAGR'] = ((cotacao_hist_sorted.groupby('noma_empresa')['preco_ultimo_negocio'].transform('last') / 
                               cotacao_hist_sorted.groupby('noma_empresa')['preco_ultimo_negocio'].transform('first')) ** 
                               (1 / cotacao_hist_sorted['anos'])) - 1

# NÃ£o temos retorno diÃ¡rio, mas podemos calcular o retorno trimestral
cotacao_hist_sorted['retorno_trimestral'] = cotacao_hist_sorted.groupby('noma_empresa')['preco_ultimo_negocio'].pct_change()

# Calcular a volatilidade (desvio padrÃ£o dos retornos trimestrais)
volatilidade = cotacao_hist_sorted.groupby('noma_empresa')['retorno_trimestral'].std()

# Juntar a volatilidade ao dataframe
cotacao_hist_sorted['volatilidade'] = cotacao_hist_sorted['noma_empresa'].map(volatilidade)

# Calcular a volatilidade anualizada
cotacao_hist_sorted['volatilidade_anualizada'] = cotacao_hist_sorted['volatilidade'] * np.sqrt(4)  # Anualizando com 4 trimestres por ano

# Calcular o Sharpe Ratio (assumindo taxa livre de risco = 0)
taxa_livre_risco = 0
cotacao_hist_sorted['sharpe_ratio'] = (cotacao_hist_sorted['CAGR'] - taxa_livre_risco) / cotacao_hist_sorted['volatilidade_anualizada']

# Lista das colunas que devem ser arredondadas
colunas_para_arredondar = [
    'retorno_acumulado', 'dias', 'anos', 'CAGR', 
    'retorno_trimestral', 'volatilidade', 
    'volatilidade_anualizada', 'sharpe_ratio'
]

# Verificar se as colunas existem no DataFrame antes de arredondar
colunas_existentes = [col for col in colunas_para_arredondar if col in cotacao_hist_sorted.columns]

# Arredondar as colunas existentes para 4 casas decimais
cotacao_hist_sorted[colunas_existentes] = cotacao_hist_sorted[colunas_existentes].round(4)

# Exibir o DataFrame atualizado
cotacao_hist_sorted

C:\Users\usuario\AppData\Local\Temp\ipykernel_10412\3250617469.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cotacao_hist_resume['data_original'] = pd.to_datetime(cotacao_hist_resume['data_original'])

,data_original,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,retorno_acumulado,dias,anos,CAGR,retorno_trimestral,volatilidade,volatilidade_anualizada,sharpe_ratio
14326,2020-11-30,12091809000155,RRRP3,3R PETROLEUM,23.9500,0.1228,1370,3.7509,0.0314,NaN,0.1817,0.3634,0.0863
9070,2020-12-31,12091809000155,RRRP3,3R PETROLEUM,36.4100,0.1228,1370,3.7509,0.0314,0.5203,0.1817,0.3634,0.0863
4709,2021-03-31,12091809000155,RRRP3,3R PETROLEUM,38.2000,0.1228,1370,3.7509,0.0314,0.0492,0.1817,0.3634,0.0863
14663,2021-05-31,12091809000155,RRRP3,3R PETROLEUM,40.9700,0.1228,1370,3.7509,0.0314,0.0725,0.1817,0.3634,0.0863
5057,2021-06-30,12091809000155,RRRP3,3R PETROLEUM,45.3400,0.1228,1370,3.7509,0.0314,0.1067,0.1817,0.3634,0.0863
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7694,2024-03-31,13574594000196,ZAMP3,ZAMP S.A.,3.2600,-0.5647,670,1.8344,-0.3645,-0.4199,0.1812,0.3623,-1.0061
17896,2024-05-31,13574594000196,ZAMP3,ZAMP S.A.,3.1500,-0.5647,670,1.8344,-0.3645,-0.0337,0.1812,0.3623,-1.0061
8072,2024-06-30,13574594000196,ZAMP3,ZAMP S.A.,3.6500,-0.5647,670,1.8344,-0.3645,0.1587,0.1812,0.3623,-1.0061
18137,2024-08-31,13574594000196,ZAMP3,ZAMP S.A.,2.9100,-0.5647,670,1.8344,-0.3645,-0.2027,0.1812,0.3623,-1.0061
8587,2024-09-30,13574594000196,ZAMP3,ZAMP S.A.,2.5900,-0.5647,670,1.8344,-0.3645,-0.1100,0.1812,0.3623,-1.0061

In [76]:
cotacao_hist_sorted.to_csv(r'C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_com_metricas\df_cothist_metricas.csv')

In [71]:
cotacao_hist_sorted

,data_original,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,retorno_acumulado,dias,anos,CAGR,retorno_trimestral,volatilidade,volatilidade_anualizada,sharpe_ratio
13296,2020-11-30,12091809000155,RRRP3,3R PETROLEUM,23.9500,0.0860,1126,3.0828,0.0271,NaN,0.1863,0.3727,0.0728
8040,2020-12-31,12091809000155,RRRP3,3R PETROLEUM,36.4100,0.0860,1126,3.0828,0.0271,0.5203,0.1863,0.3727,0.0728
4709,2021-03-31,12091809000155,RRRP3,3R PETROLEUM,38.2000,0.0860,1126,3.0828,0.0271,0.0492,0.1863,0.3727,0.0728
13633,2021-05-31,12091809000155,RRRP3,3R PETROLEUM,40.9700,0.0860,1126,3.0828,0.0271,0.0725,0.1863,0.3727,0.0728
5057,2021-06-30,12091809000155,RRRP3,3R PETROLEUM,45.3400,0.0860,1126,3.0828,0.0271,0.1067,0.1863,0.3727,0.0728
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,2023-06-30,13574594000196,ZAMP3,ZAMP S.A.,4.5500,-0.0555,396,1.0842,-0.0513,0.1942,0.1532,0.3063,-0.1674
16041,2023-08-31,13574594000196,ZAMP3,ZAMP S.A.,5.5500,-0.0555,396,1.0842,-0.0513,0.2198,0.1532,0.3063,-0.1674
7418,2023-09-30,13574594000196,ZAMP3,ZAMP S.A.,6.1700,-0.0555,396,1.0842,-0.0513,0.1117,0.1532,0.3063,-0.1674
16303,2023-11-30,13574594000196,ZAMP3,ZAMP S.A.,5.8200,-0.0555,396,1.0842,-0.0513,-0.0567,0.1532,0.3063,-0.1674
8978,2023-12-31,13574594000196,ZAMP3,ZAMP S.A.,5.6200,-0.0555,396,1.0842,-0.0513,-0.0344,0.1532,0.3063,-0.1674

In [18]:
cotacao_hist_sorted.columns

Index(['data_original', 'CNPJ', 'cod_negociacao', 'noma_empresa',
       'preco_ultimo_negocio', 'retorno_acumulado', 'dias', 'anos', 'CAGR',
       'retorno_trimestral', 'volatilidade', 'volatilidade_anualizada',
       'sharpe_ratio'],
      dtype='object')

In [72]:
cotacao_hist_sorted.describe()

,data_original,preco_ultimo_negocio,retorno_acumulado,dias,anos,CAGR,retorno_trimestral,volatilidade,volatilidade_anualizada,sharpe_ratio
count,16597,16597.0000,16597.0000,16597.0000,16597.0000,16597.0000,16270.0000,16593.0000,16593.0000,16593.0000
mean,2020-04-16 08:07:46.783153664,19.8411,7.1980,2958.2309,8.0992,0.0435,0.1001,0.7647,1.5294,0.0574
min,2014-03-30 00:00:00,0.0300,-0.9782,0.0000,0.0000,-0.8062,-0.9587,0.0348,0.0697,-2.3766
25%,2018-06-30 00:00:00,5.5700,-0.3947,2466.0000,6.7515,-0.0584,-0.0565,0.1249,0.2499,-0.1210
50%,2020-09-30 00:00:00,12.0000,0.1946,3563.0000,9.7550,0.0225,0.0000,0.1737,0.3474,0.0405
75%,2022-06-30 00:00:00,23.9900,1.2932,3563.0000,9.7550,0.1108,0.0595,0.2882,0.5764,0.2107
max,2023-12-31 00:00:00,645.0000,305.1290,3563.0000,9.7550,2.5248,181.5000,23.4355,46.8710,6.2783
std,NaN,31.9341,31.5282,921.2081,2.5222,0.2362,2.3457,2.2211,4.4421,0.5055

In [73]:
cotacao_hist_sorted_filter = cotacao_hist_sorted[(cotacao_hist_sorted["anos"]>7) & (cotacao_hist_sorted["anos"]<10)]

cotacao_hist_sorted_filter

,data_original,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio,retorno_acumulado,dias,anos,CAGR,retorno_trimestral,volatilidade,volatilidade_anualizada,sharpe_ratio
399,2014-09-30,82643537000134,EALT3,ACO ALTONA,21.0000,-0.5343,3379,9.2512,-0.0793,NaN,0.2234,0.4469,-0.1774
400,2014-09-30,82643537000134,EALT3,ACO ALTONA,21.0000,-0.5343,3379,9.2512,-0.0793,0.0000,0.2234,0.4469,-0.1774
2467,2018-06-30,82643537000134,EALT3,ACO ALTONA,6.4700,-0.5343,3379,9.2512,-0.0793,-0.6919,0.2234,0.4469,-0.1774
2468,2018-06-30,82643537000134,EALT3,ACO ALTONA,6.4700,-0.5343,3379,9.2512,-0.0793,0.0000,0.2234,0.4469,-0.1774
11529,2018-11-30,82643537000134,EALT3,ACO ALTONA,4.2100,-0.5343,3379,9.2512,-0.0793,-0.3493,0.2234,0.4469,-0.1774
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,2023-09-30,59105999000186,WHRL3,WHIRLPOOL,4.3400,0.1139,3563,9.7550,0.0111,0.0000,0.1021,0.2043,0.0544
16267,2023-11-30,59105999000186,WHRL3,WHIRLPOOL,4.2400,0.1139,3563,9.7550,0.0111,-0.0230,0.1021,0.2043,0.0544
16268,2023-11-30,59105999000186,WHRL3,WHIRLPOOL,4.2400,0.1139,3563,9.7550,0.0111,0.0000,0.1021,0.2043,0.0544
9000,2023-12-31,59105999000186,WHRL3,WHIRLPOOL,4.4000,0.1139,3563,9.7550,0.0111,0.0377,0.1021,0.2043,0.0544
9001,2023-12-31,59105999000186,WHRL3,WHIRLPOOL,4.4000,0.1139,3563,9.7550,0.0111,0.0000,0.1021,0.2043,0.0544

In [74]:

# Columns to exclude from the correlation analysis
columns_to_exclude = ['data_original', 'CNPJ', 'cod_negociacao', 'noma_empresa']

# Dropping the excluded columns
df_filtered = cotacao_hist_sorted_filter.drop(columns=columns_to_exclude)

# Generating the correlation matrix
correlation_matrix_filtered = df_filtered.corr()

# Displaying the correlation matrix
correlation_matrix_filtered

,preco_ultimo_negocio,retorno_acumulado,dias,anos,CAGR,retorno_trimestral,volatilidade,volatilidade_anualizada,sharpe_ratio
preco_ultimo_negocio,1.0000,0.0059,-0.0584,-0.0584,-0.0431,0.0052,-0.0721,-0.0721,-0.0160
retorno_acumulado,0.0059,1.0000,0.0672,0.0672,0.7453,0.0581,0.4613,0.4613,0.0767
dias,-0.0584,0.0672,1.0000,1.0000,-0.1302,0.0022,0.0580,0.0580,-0.3425
anos,-0.0584,0.0672,1.0000,1.0000,-0.1302,0.0022,0.0580,0.0580,-0.3425
CAGR,-0.0431,0.7453,-0.1302,-0.1302,1.0000,0.0563,0.4251,0.4251,0.5221
retorno_trimestral,0.0052,0.0581,0.0022,0.0022,0.0563,1.0000,0.1317,0.1317,-0.0048
volatilidade,-0.0721,0.4613,0.0580,0.0580,0.4251,0.1317,1.0000,1.0000,-0.0613
volatilidade_anualizada,-0.0721,0.4613,0.0580,0.0580,0.4251,0.1317,1.0000,1.0000,-0.0613
sharpe_ratio,-0.0160,0.0767,-0.3425,-0.3425,0.5221,-0.0048,-0.0613,-0.0613,1.0000

In [75]:
# Primeiro passo: consolidar as mÃ©tricas ao longo dos perÃ­odos para cada empresa

# Agrupar os dados por empresa, CNPJ e cÃ³digo de negociaÃ§Ã£o e calcular a mÃ©dia e o desvio padrÃ£o (std) das mÃ©tricas principais
metricas_agregadas = cotacao_hist_sorted.groupby(['noma_empresa', 'CNPJ', 'cod_negociacao']).agg({
    'CAGR': ['mean', 'std'],
    'retorno_acumulado': ['mean', 'std'],
    'volatilidade_anualizada': ['mean', 'std'],
    'sharpe_ratio': ['mean', 'std']
}).reset_index()

# Renomear as colunas para facilitar a anÃ¡lise
metricas_agregadas.columns = [
    'noma_empresa', 'CNPJ', 'cod_negociacao',
    'CAGR_mean', 'CAGR_std', 
    'retorno_acumulado_mean', 'retorno_acumulado_std', 
    'volatilidade_mean', 'volatilidade_std', 
    'sharpe_ratio_mean', 'sharpe_ratio_std'
]

# Segundo passo: aplicar ponderaÃ§Ãµes inteligentes nas mÃ©tricas agregadas

# Atribuir pesos para cada mÃ©trica com base em sua importÃ¢ncia relativa
peso_cagr = 0.40
peso_sharpe = 0.30
peso_retorno_acumulado = 0.20
peso_volatilidade = 0.10

# Calcular a pontuaÃ§Ã£o final ponderada com base nas mÃ©tricas agregadas
metricas_agregadas['pontuacao'] = (
    (metricas_agregadas['CAGR_mean'] * peso_cagr) / (1 + metricas_agregadas['CAGR_std']) +  # CAGR ponderado
    (metricas_agregadas['sharpe_ratio_mean'] * peso_sharpe) / (1 + metricas_agregadas['sharpe_ratio_std']) +  # Sharpe Ratio ponderado
    (metricas_agregadas['retorno_acumulado_mean'] * peso_retorno_acumulado) / (1 + metricas_agregadas['retorno_acumulado_std']) -  # Retorno ponderado
    (metricas_agregadas['volatilidade_mean'] * peso_volatilidade) / (1 + metricas_agregadas['volatilidade_std'])  # Penalizar maior volatilidade
)

# Terceiro passo: ordenar o ranking com base na pontuaÃ§Ã£o final

# Ordenar as empresas pela pontuaÃ§Ã£o final, da maior para a menor
ranking_final = metricas_agregadas.sort_values(by='pontuacao', ascending=False)

# Exibir o ranking final consolidado com CNPJ e cÃ³digo de negociaÃ§Ã£o
ranking_final

,noma_empresa,CNPJ,cod_negociacao,CAGR_mean,CAGR_std,retorno_acumulado_mean,retorno_acumulado_std,volatilidade_mean,volatilidade_std,sharpe_ratio_mean,sharpe_ratio_std,pontuacao
18,AMAZONIA,04902979000144,BAZA3,0.7982,0.0000,305.1290,0.0000,27.9051,0.0000,0.0286,0.0000,58.5632
198,MINUPAR,90076886000140,MNPR3,0.7747,0.0000,268.2857,0.0000,15.4895,0.0000,0.0500,0.0000,52.4331
64,CEEE-GT,92715812000131,EEEL3,1.3586,0.0000,198.3608,0.0000,34.4744,0.0000,0.0394,0.0000,36.7800
195,METALFRIO,04821041000108,FRIO3,0.6603,0.0000,139.5882,0.0000,6.2123,0.0000,0.1063,0.0000,27.5924
293,TEX RENAUX,82982075000180,TXRX3,0.8582,0.0000,141.1579,0.0000,30.0867,0.0000,0.0285,0.0000,25.5747
...,...,...,...,...,...,...,...,...,...,...,...,...
150,IGUATEMI S.A,60543816000193,IGTI3,-0.6618,0.0000,-0.8955,0.0000,0.2785,0.0000,-2.3766,0.0000,-1.1846
229,PDG REALT,02950811000189,PDGR3,-0.1165,0.0000,-0.7014,0.0000,11.1746,0.0000,-0.0104,0.0000,-1.3075
181,LUPATECH,89463822000112,LUPA3,0.1299,0.0000,2.2923,0.0000,46.8710,0.0000,0.0028,0.0000,-4.1758
145,HERCULES,92749225000163,HETA3,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN
236,PINE,62144175000120,PINE3,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN

In [99]:
df_merged_sorted.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\df_metrics_cot_bldre.csv")

NameError: name 'df_merged_sorted' is not defined