In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.2f}'.format

In [14]:
# Especificar o caminho do arquivo CSV
arquivo_csv = r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\COTAHIST_TODOS_ANOS.csv"

# Ler o arquivo CSV com a codificaÃ§Ã£o apropriada
preco_acoes_todos_os_anos = pd.read_csv(arquivo_csv, encoding='latin1')

# Exibir as primeiras linhas do dataframe lido
pd.DataFrame(preco_acoes_todos_os_anos)

,tipo_registro,data_pregao,cod_bdi,cod_negociacao,tipo_mercado,noma_empresa,especificacao_papel,prazo_dias_merc_termo,moeda_referencia,preco_abertura,...,numero_negocios,quantidade_papeis_negociados,volume_total_negociado,preco_exercicio,Ã¬ndicador_correcao_precos,data_vencimento,fator_cotacao,preco_exercicio_pontos,codigo_isin,num_distribuicao_papel
0,1,20140102,2.00,ABCB4,10,ABC BRASIL,PN EJS N2,NaN,R$,12.31,...,1544.00,361200.00,4307894.00,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
1,1,20140102,96.00,ABCB4F,20,ABC BRASIL,PN EJS N2,NaN,R$,12.10,...,3.00,140.00,1686.10,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
2,1,20140102,62.00,ABCB4T,30,ABC BRASIL,PN EJS N2,361.00,R$,13.46,...,2.00,100.00,1346.30,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
3,1,20140102,2.00,ABEV3,10,AMBEV S/A,ON,NaN,R$,17.30,...,22569.00,8035400.00,139744724.00,0.00,0.00,99991231.00,1.00,0.00,BRABEVACNOR1,100.00
4,1,20140102,96.00,ABEV3F,20,AMBEV S/A,ON,NaN,R$,17.26,...,341.00,10790.00,187644.20,0.00,0.00,99991231.00,1.00,0.00,BRABEVACNOR1,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11587775,1,20240528,82.00,YDUQS207,80,YDUQE,ON NM,0.00,R$,7.01,...,1.00,900.00,6309.00,20.48,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587776,1,20240528,82.00,YDUQS142,80,YDUQE,ON NM,0.00,R$,1.36,...,5.00,4000.00,5697.00,13.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587777,1,20240528,82.00,YDUQS137,80,YDUQE FM,ON NM,0.00,R$,1.09,...,3.00,1900.00,2201.00,13.48,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587778,1,20240528,82.00,YDUQS132,80,YDUQE FM,ON NM,0.00,R$,0.89,...,3.00,2200.00,1972.00,12.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587779,1,20240528,82.00,YDUQS122,80,YDUQE,ON NM,0.00,R$,0.40,...,3.00,2200.00,916.00,11.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00

In [15]:
# Filtrando apenas as colunas desejadas
colunas_desejadas = ['data_pregao', 'cod_negociacao', 'noma_empresa', 'preco_ultimo_negocio']
preco_acoes = preco_acoes_todos_os_anos[colunas_desejadas]

# Filtrando apenas as empresas com cod_negociacao terminando em '3'
preco_acoes = preco_acoes[preco_acoes['cod_negociacao'].str.endswith('3')]

preco_acoes_final3 = preco_acoes 

# Exibindo o DataFrame filtrado
pd.DataFrame(preco_acoes_final3)

          data_pregao cod_negociacao  noma_empresa  preco_ultimo_negocio
3            20140102          ABEV3     AMBEV S/A                 17.39
8            20140102          AEDU3    ANHANGUERA                 14.55
11           20140102          AELP3      AES ELPA                  8.71
12           20140102          AGRO3    BRASILAGRO                  9.50
13           20140102          ALLL3  ALL AMER LAT                  6.30
...               ...            ...           ...                   ...
11587615     20240528       VIVAF233          VIVA                  0.23
11587616     20240528       VIVTR453         VIVTE                  0.02
11587622     20240528       VIVTF483      VIVT  FM                  0.31
11587624     20240528       VIVTR463     VIVTE  FM                  0.59
11587681     20240528       WEGEH403          WEGE                  0.83

[1067465 rows x 4 columns]

In [16]:
# Filtrando apenas os cÃ³digos de negociaÃ§Ã£o que terminam exatamente com '3'
preco_acoes_final3= preco_acoes_final3[preco_acoes_final3['cod_negociacao'].str.match(r'^[A-Z]{4}3$')]

pd.DataFrame(preco_acoes_final3)

          data_pregao cod_negociacao  noma_empresa  preco_ultimo_negocio
3            20140102          ABEV3     AMBEV S/A                 17.39
8            20140102          AEDU3    ANHANGUERA                 14.55
11           20140102          AELP3      AES ELPA                  8.71
12           20140102          AGRO3    BRASILAGRO                  9.50
13           20140102          ALLL3  ALL AMER LAT                  6.30
...               ...            ...           ...                   ...
10751004     20240528          ETER3       ETERNIT                  6.18
10751005     20240528          CTNM3     COTEMINAS                  8.25
10751007     20240528          CTSA3    SANTANENSE                  2.44
10751009     20240528          AMER3    AMERICANAS                  0.53
10751011     20240528          NEXP3         NEXPE                  4.13

[599884 rows x 4 columns]

In [17]:
# Calculando a variaÃ§Ã£o percentual diÃ¡ria
preco_acoes_final3['percentual_variacao'] = preco_acoes_final3.groupby('cod_negociacao')['preco_ultimo_negocio'].pct_change() * 100

# Calculando a mÃ©dia da variaÃ§Ã£o percentual diÃ¡ria para cada empresa
df_variacao_media = preco_acoes_final3.groupby('cod_negociacao')['percentual_variacao'].mean().reset_index()

# Ordenando as empresas pela mÃ©dia da variaÃ§Ã£o percentual em ordem decrescente
df_variacao_media_sorted = df_variacao_media.sort_values(by='percentual_variacao', ascending=False)

pd.DataFrame(df_variacao_media_sorted)

C:\Users\usuario\AppData\Local\Temp\ipykernel_11724\3930682816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preco_acoes_final3['percentual_variacao'] = preco_acoes_final3.groupby('cod_negociacao')['preco_ultimo_negocio'].pct_change() * 100

    cod_negociacao  percentual_variacao
351          PTPA3               378.16
218          HETA3               111.73
105          CEPE3                95.70
387          SHUL3                94.20
182          ESTR3                76.44
..             ...                  ...
384          SGAS3                -1.55
65           BOBR3                  NaN
147          DHBI3                  NaN
152          DOCA3                  NaN
281          MEND3                  NaN

[465 rows x 2 columns]

In [18]:
top_100_empresas = df_variacao_media_sorted.head(100)
pd.DataFrame(top_100_empresas)

    cod_negociacao  percentual_variacao
351          PTPA3               378.16
218          HETA3               111.73
105          CEPE3                95.70
387          SHUL3                94.20
182          ESTR3                76.44
..             ...                  ...
417          TELB3                 1.08
103          CEGR3                 1.06
164          EKTR3                 1.04
35           AVLL3                 1.02
44           BDLL3                 1.00

[100 rows x 2 columns]

In [19]:
# Convertendo a coluna 'data_pregao' para o formato de data
preco_acoes_final3['data_pregao'] = pd.to_datetime(preco_acoes_final3['data_pregao'], format='%Y%m%d')

# Filtrando os dados dos Ãºltimos 5 anos
data_limite = pd.Timestamp.now() - pd.DateOffset(years=5)
df_historico_5_anos = preco_acoes_final3[preco_acoes_final3['data_pregao'] >= data_limite]

# Calculando a variaÃ§Ã£o percentual diÃ¡ria
df_historico_5_anos['percentual_variacao'] = df_historico_5_anos.groupby('cod_negociacao')['preco_ultimo_negocio'].pct_change() * 100

# Calculando a mÃ©dia da variaÃ§Ã£o percentual diÃ¡ria para cada empresa
df_variacao_media = df_historico_5_anos.groupby('cod_negociacao')['percentual_variacao'].mean().reset_index()

# Ordenando as empresas pela mÃ©dia da variaÃ§Ã£o percentual em ordem decrescente
df_variacao_media_sorted = df_variacao_media.sort_values(by='percentual_variacao', ascending=False)

# Selecionando as top 100 empresas (ou menos, se nÃ£o houver 100 empresas no exemplo)
top_50_empresas = df_variacao_media_sorted.head(50)
top_50_empresas_ultimos5anos = top_100_empresas

pd.DataFrame(top_50_empresas_ultimos5anos)

C:\Users\usuario\AppData\Local\Temp\ipykernel_11724\2665255453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preco_acoes_final3['data_pregao'] = pd.to_datetime(preco_acoes_final3['data_pregao'], format='%Y%m%d')
C:\Users\usuario\AppData\Local\Temp\ipykernel_11724\2665255453.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_historico_5_anos['percentual_variacao'] = df_historico_5_anos.groupby('cod_negociacao')['preco_ultimo_negocio'].pct_change() * 100

    cod_negociacao  percentual_variacao
351          PTPA3               378.16
218          HETA3               111.73
105          CEPE3                95.70
387          SHUL3                94.20
182          ESTR3                76.44
..             ...                  ...
417          TELB3                 1.08
103          CEGR3                 1.06
164          EKTR3                 1.04
35           AVLL3                 1.02
44           BDLL3                 1.00

[100 rows x 2 columns]