In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
pd.options.display.float_format = '{:.2f}'.format

In [8]:
df_hist_cotacoes = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\historico_cotacoes_empresas.csv")

In [9]:
df_hist_cotacoes

,Empresa,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Close Adj
0,RRRP3,2020-11-12 00:00:00-03:00,20.21,21.90,19.81,20.45,2124310,0.00,0.00,20.45
1,RRRP3,2020-11-13 00:00:00-03:00,20.55,20.89,20.35,20.35,480335,0.00,0.00,20.35
2,RRRP3,2020-11-16 00:00:00-03:00,20.69,20.79,20.52,20.55,179666,0.00,0.00,20.55
3,RRRP3,2020-11-17 00:00:00-03:00,20.49,20.54,20.21,20.54,262242,0.00,0.00,20.54
4,RRRP3,2020-11-18 00:00:00-03:00,20.54,20.62,20.45,20.45,98724,0.00,0.00,20.45
...,...,...,...,...,...,...,...,...,...,...
210824,YDUQ3,2024-04-01 00:00:00-03:00,18.18,18.59,17.98,17.98,4167900,0.00,0.00,17.98
210825,YDUQ3,2024-04-02 00:00:00-03:00,17.90,18.12,17.07,17.55,5462500,0.00,0.00,17.55
210826,YDUQ3,2024-04-03 00:00:00-03:00,17.54,17.66,16.69,16.84,6148500,0.00,0.00,16.84
210827,YDUQ3,2024-04-04 00:00:00-03:00,17.06,17.36,16.51,16.71,4857800,0.00,0.00,16.71
210828,YDUQ3,2024-04-05 00:00:00-03:00,16.70,16.99,16.59,16.65,2715500,0.00,0.00,16.65

In [10]:
df_hist_cotacoes['Date'] = pd.to_datetime(df_hist_cotacoes['Date'],format = "%Y-%m-%d %H:%M:%S%z")

C:\Users\usuario\AppData\Local\Temp\ipykernel_11432\4050941064.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df_hist_cotacoes['Date'] = pd.to_datetime(df_hist_cotacoes['Date'],format = "%Y-%m-%d %H:%M:%S%z")

In [12]:
df_hist_cotacoes

,Empresa,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Close Adj
0,RRRP3,2020-11-12 00:00:00-03:00,20.21,21.90,19.81,20.45,2124310,0.00,0.00,20.45
1,RRRP3,2020-11-13 00:00:00-03:00,20.55,20.89,20.35,20.35,480335,0.00,0.00,20.35
2,RRRP3,2020-11-16 00:00:00-03:00,20.69,20.79,20.52,20.55,179666,0.00,0.00,20.55
3,RRRP3,2020-11-17 00:00:00-03:00,20.49,20.54,20.21,20.54,262242,0.00,0.00,20.54
4,RRRP3,2020-11-18 00:00:00-03:00,20.54,20.62,20.45,20.45,98724,0.00,0.00,20.45
...,...,...,...,...,...,...,...,...,...,...
210824,YDUQ3,2024-04-01 00:00:00-03:00,18.18,18.59,17.98,17.98,4167900,0.00,0.00,17.98
210825,YDUQ3,2024-04-02 00:00:00-03:00,17.90,18.12,17.07,17.55,5462500,0.00,0.00,17.55
210826,YDUQ3,2024-04-03 00:00:00-03:00,17.54,17.66,16.69,16.84,6148500,0.00,0.00,16.84
210827,YDUQ3,2024-04-04 00:00:00-03:00,17.06,17.36,16.51,16.71,4857800,0.00,0.00,16.71
210828,YDUQ3,2024-04-05 00:00:00-03:00,16.70,16.99,16.59,16.65,2715500,0.00,0.00,16.65

In [7]:
list_date = ['2014-03-31', '2014-06-30', '2014-09-30', '2015-03-31',
       '2015-06-30', '2015-09-30', '2016-03-31', '2016-06-30',
       '2016-09-30', '2017-03-31', '2017-06-30', '2017-09-30',
       '2018-03-31', '2018-06-30', '2018-09-30', '2019-03-31',
       '2019-06-30', '2019-09-30', '2020-03-31', '2020-06-30',
       '2020-09-30', '2021-03-31', '2021-06-30', '2021-09-30',
       '2022-03-31', '2022-06-30', '2022-09-30', '2023-03-31',
       '2023-06-30', '2023-09-30', '2020-12-31', '2021-12-31',
       '2022-12-31', '2023-12-31', '2016-12-31', '2017-12-31',
       '2018-12-31', '2019-12-31', '2014-12-31', '2015-12-31',
       '2016-03-30', '2017-05-31', '2017-08-31', '2017-11-30',
       '2018-05-31', '2018-08-31', '2018-11-30', '2019-05-31',
       '2019-08-31', '2019-11-30', '2020-05-31', '2020-08-31',
       '2020-11-30', '2021-05-31', '2021-08-31', '2021-11-30',
       '2022-05-31', '2022-08-31', '2022-11-30', '2023-05-31',
       '2023-08-31', '2023-11-30']